.blur{
	filter: blur(2px);
}

.mdalert{
	align-items: center;
	background-color: rgba(0,0,0, .5);
	color: #fff;
	display: none;
	justify-content: center;
	height: 100vh;
	position: fixed;
	width: 100%;
	z-index: 999;
}

	.md_alert_inside{
		background-color: #fff;
		border-radius: 10px;
		min-width: 220px;
		width: 420px;
	}

	.md_alert_content{
		color: #333;
		box-sizing: border-box;
		overflow: hidden;
		padding: 24px;
		width: 100%;
	}
	h2, h5{
		display: block;
		font-size: 14px;
		font-weight: 700;
		margin: 0px;
		padding-bottom: 0;
		text-align: center;
		width: 100%;

	}
	h5 {
		font-size: 14px;
		font-weight: 400;
		margin-top: 16px;
	}
		.icon{
			display: block;
			margin-top: 24px;
			text-align: center;
			width: 100%;
		}
			img{
				display: block;
				margin: 0px auto;
				width: 90px;
			}

		ul {
			margin: 0px;
			margin-top: 16px;
			padding: 0px;
			list-style: none;
		}
			li {
				margin-bottom: 2px;
			}
				i {
					color: red;
					margin-right: 4px;
					position: relative;
					top: 2px;
				}
	.md_alert_footer{
		display: block;
		width: 100%;
	}
		.md_alert_btn_close{
			border-top: 1px solid #f0f0f0;
			color: #323742;
			display: block;
			font-weight: 700;
			padding: 16px;
			text-decoration: none;
			text-align: center;
			width: 100%;
		}
		.md_alert_footer_other_btns{
			margin-left: 7%;
			width: 86%;
		}
		a.btn{
			border-radius: 18px;
			border: 0px;
			color: #fff;
			-webkit-box-shadow: 2px 12px 12px 0px rgba(0,0,0,0.15);
			-moz-box-shadow: 2px 12px 12px 0px rgba(0,0,0,0.15);
			box-shadow: 2px 12px 12px 0px rgba(0,0,0,0.15);
			display: block;
			margin-bottom: 24px;
			text-transform: uppercase;
			width: 100%;
		}

		a.btn-success{
			background-color: #44bb5e;
			border: 0px;
		}
		a.btn-primary{
			background-color: #0086d6;
			border: 0px;
		}
		a.btn-info{
			background-color: #ffbb00;
			border: 0px;
		}
		a.btn-danger{
			background-color: #f9461c;
			border: 0px;
		}

.md_alert_animation_show{
	animation-timing-function: ease-in-out;
	animation: alert_show 0.5s forwards;
}

.md_alert_animation_hide{
	animation-timing-function: ease-in-out;
	animation: alert_hide 0.5s forwards;
}

.scale_animation{
	animation: scale 0.3s forwards;
	transition: all .6 ease-in-out;
}

@keyframes alert_show{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes alert_hide{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

@keyframes scale{
	0%{
		transform: scale(0.9);
	}
	100%{
		transform: scale(1);
	}
}

@media only screen and (max-width: 480px){
	.mdalert{

	}
	.mdalert_inside{
		width: 86%;
	}
}